body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    font-size: 24px;
}

.form-container label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #555;
}

.form-container input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #333;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

.form-container input:focus {
    border-color: #007bff;
    background-color: #fff;
    box-shadow: 0 0 8px #007bff;
}

.form-container button {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}

.form-container button:hover {
    background-color: #56f5f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container .remember {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-container .remember input {
    margin-right: 10px;
}

.form-container .remember label {
    font-size: 14px;
    color: #555;
}

.form-container p {
    text-align: center;
    color: #555;
    margin-top: 15px;
}

.form-container a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.form-container a:hover {
    color: #56f5f0;
}






